body {
    font-family: 'Raleway', sans-serif;
    background-color: #FDF6E3;
}

.content, .contacts {
    text-align: center;
    margin: 30px 0;
    color: #333;
}

.content h1, .contacts h3 {
    font-weight: 700; /* Peso maior para o título */
}

.content p, .contacts p {
    font-weight: 400;
    margin-top: 10px;
}

/* Seta pulsando */
.arrow {
    font-size: 3em; /* Aumenta o tamanho da seta */
    color: #002B36;
    margin: 10px 0;
    animation: pulse 1.5s infinite; /* Animação pulsante */
}

@keyframes pulse {
    0% {
        transform: scale(1); /* Escala normal */
        opacity: 1; /* Totalmente visível */
    }
    50% {
        transform: scale(1.2); /* Aumenta o tamanho */
        opacity: 0.7; /* Um pouco transparente */
    }
    100% {
        transform: scale(1); /* Retorna ao tamanho normal */
        opacity: 1; /* Totalmente visível novamente */
    }
}

/* Ajustes dos cards */
.card:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

.card {
    border: 1px solid #ccc; /* Borda do card */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
    margin-bottom: 20px; /* Espaçamento entre os cards */
    height: 300px; /* Aumente a altura do card conforme necessário */
    display: flex; /* Habilita o uso de Flexbox */
    flex-direction: column; /* Coloca os itens em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    background-color: #002B36;
}

.button-image {
    width: 80%; /* Ajusta a largura da imagem para ocupar 80% do card */
    height: auto; /* Mantém a proporção da imagem */
    max-height: 150px; /* Limita a altura da imagem */
    object-fit: contain; /* Mantém a imagem dentro do espaço do card sem distorção */
    margin-bottom: 10px; /* Espaço entre a imagem e o texto */
}

.card-body {
    padding: 15px; /* Aumenta o padding do corpo do card */
    color: #fff; /* Cor do texto */
}

footer {
    background-color: #002B36; /* Altera a cor de fundo para #002B36 */
}

.custom-navbar {
    background-color: #002B36; /* Cor de fundo desejada */
}

.contact-title {
    color: #002B36; /* Cor para o título antes dos dois pontos */
    
}

.contact-info {
    color: rgb(0, 0, 0); /* Cor para a informação após os dois pontos */
}

.contacts h3 {
    font-size: 2em; /* Aumenta o tamanho do título */
}

.contacts p {
    font-size: 1.2em; /* Aumenta o tamanho do texto dos parágrafos */
}

   /* Estilos do botão do WhatsApp */
   .whatsapp-button {
    position: fixed;
    bottom: 20px; /* Distância do fundo da tela */
    right: 20px; /* Distância do lado direito da tela */
    background-color: #002B36; /* Cor do WhatsApp */
    border-radius: 50%; /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Para garantir que esteja acima de outros elementos */
    padding: 10px; /* Espaçamento interno */
}

.whatsapp-button img {
    width: 40px; /* Largura do ícone */
    height: 40px; /* Altura do ícone */
}

.navbar-brand img {
    width: 100px; /* Defina o tamanho desejado */
    height: auto; /* Mantém a proporção da imagem */
}

@media (max-width: 768px) {
    .navbar-brand img {
        width: 60px; /* Tamanho menor para dispositivos móveis */
    }
}

